.places__image {
    width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    display: block;
    grid-area: places__image;
}



@media screen and (max-width: 700px) {
    .places__image {
        width: 100%;
        margin: 0 auto 32px;
    }
}