.places__image {
    max-width: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    display: block;
    grid-area: places__image;
}

@media screen and (max-width: 768px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 768px) {
    .places__image {
        max-width: 370px;
    }
}

@media screen and (max-width: 375px) {
    .places__image {
        width: 100%;
        margin-block-end: 32px;
    }
}